<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TinkoffApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A3043891FE1D2C500718AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A3043A01FE1D2C600718AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A3043AB1FE1D2C600718AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
